@charset "utf-8";

/*===base==*/
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, textarea, p, blockquote, th, td{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img{border:0;}
address, caption, cite, code, dfn, em, th, var{font-style:normal;font-weight:normal;}
ol, ul{list-style:none;}
q:before, q:after{content:''}
abbr, acronym,button{border:0;}
a{color:#3d79f2;touch-action: none;}
input, select, textarea{font-size: 15px;}

/*==自定义图标==*/
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color:#aaa}
.app_img_icons{position: relative;top:2px}
.app_header .app_img_icons{width:20px;}

@font-face {
    font-family: 'app_iconfont';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/iconfont.ttf') format('truetype');
}
/*文字排版 */
.app_f10{font-size: 10px;}
.app_f12{font-size: 12px;}
.app_f13{font-size: 13px;}
.app_f14{font-size: 14px;}
.app_f15{font-size: 15px;}
.app_f16{font-size: 16px;}
.app_f17{font-size: 17px;}
.app_f18{font-size: 18px;}
.app_f20{font-size: 20px;}
.app_f22{font-size: 22px;}
.app_f24{font-size: 24px;}
.app_f30{font-size: 30px;}
.app_f36{font-size: 36px;}
.app_f40{font-size: 40px;}
.app_f48{font-size: 48px;}
.app_f60{font-size: 60px;}
.app_f80{font-size: 80px;}

.app_f08x{font-size:.8rem}
.app_f1x{font-size:1rem}
.app_f1_5x{font-size:1.5rem}
.app_f2x{font-size:2rem}
.app_f2_5x{font-size:2.5rem}
.app_f3x{font-size:3rem}
.app_f4xm{font-size:4rem}

.app_fb{font-weight:bold}
.app_fn{font-weight:normal}
.app_t2{text-indent:2em}
.app_t999{text-indent:-999em;}
.app_lhno{line-height: normal;}

.app_unl{text-decoration:underline;}
.app_no_unl{text-decoration:none;}
.app_ws_nm{white-space: normal;}

.app_lh18{line-height: 18px;}
.app_lh24{line-height: 24px;}
.app_lh30{line-height: 30px;}
.app_lh35{line-height: 35px;}

/*字体颜色*/
.app_color40 {color: #40ABE9;}
.mui-h5, h5{color: #999;}
.mui-h5.app_c3{color: #333;}
.mui-h5.app_cy{color: #dff0fc;}
.mui-h5.app_cred{color: #f85c50;}
.mui-h5.app_cc{color:#ccc}
.mui-badge.app_c3{color: #333;}
.mui-badge.app_cblue{color:#2795f3}

.app_cf80{color:rgba(255,255,255,.8)}
.app_c0{color:#000}
.app_c2{color:#222}
.app_c26{color:#262626}
.app_cb3{color:#b3b3b3}
.app_c3{color:#333}
.app_c3b{color:#3b3b3b}
.app_c5{color:#555}
.app_c6{color:#666}
.app_ca6{color:#a6a6a6}
.app_c9{color:#999}
.app_c8{color:#888}
.app_c80{color:#808080}
.app_cc8{color:#c8c8c8}
.app_cf90{color:#f65205}
.app_cmain{color: #0d84f2 !important;}
.app_cc{color:#ccc}
.app_cf{color:#fff!important}
.app_color_type01 { color: #ed6653;}
.app_color_type02 { color: #eb8417;}
.app_color_type03 { color: #f4c600;}
.app_color_type04 { color: #55ace4;}
.app_color_type05 { color: #00bb9c;}
.app_color_type06 { color: #6fb8e8;}
.app_cred{color: #E45038;}
.app_cgreen{color:#18d12e}

.app_cblue{color:#2795f3}
.app_cblue2{color:#8499ad}
.app_cblue3{color:#0d84f2 !important;}
.app_cred3{color:#E45038 !important;}

.app_cy{color: #dff0fc}
.app_cgray{color: #8f8f94}
.app_cgray2{color: #656b79;}
.app_cgray3{color: #8A96A0;}
.app_cy2{color: #dff0fc}

.app_corg{color:#fd7114}
.mui-btn.app_corg{color:#fd7114}
.app_corg2{color:#ffa629}
.app_corg3{color:#ffba69}
.app_corg4{color:#ff7522}

.app_clistnum{color:#ad9e8c;}
.app_color_myt0{color:#fa9f00;}
.app_color_mytn{color:#7588fa}
.app_color_detail{color:#fc812d;}
.app_color_record{color:#0D84F2;}
.app_color_ticket{color:#F9B856;}
.app_color_invites{color:#9572CF;}
.app_color_invite{color:#ee4343;}

/*边框颜色*/
.app_tline{border-top: 1px solid #ececec;}
.app_bline{border-bottom: 1px solid #40ABE9;}
.app_lline{border-left: 1px solid #ececec;}
.app_rline{border-right: 1px solid #ececec;}

.app_tline2{border-top: 1px solid #ececec;}
.app_bline2{border-bottom: 5px solid #efeff4;}
.app_lline2{border-left: 1px solid #ececec;}
.app_rline2{border-right: 1px solid rgba(255,255,255,.5);}

.app_bline3{border-bottom: 1px solid #efeff4;}
/*背景色*/
.app_bgf{background-color: #fff}
.app_bgfff{background: #fff!important}
.app_bgred{background:#e43111}
.app_bgorg{background:#ff9900}
.app_bggreen{background: #64bdb8}
.app_bggray{background: #f0eff5}
.app_bggray2{background: #f9f9f9}
.app_bgn{background: transparent;}
.app_bgblue{background:#737cef;}
.app_bgf02{background:rgba(255,255,255,.2)}
.app_bgtop{background: #f13b51 !important;}
.app_bgtop2{background: #0D84F2 !important;}

/*定位*/
.app_bc{margin-left:auto;margin-right:auto;}
.app_fl{float:left;display:inline}
.app_fr{float:right;display:inline}

.app_clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height: 0;font-size: 0;height: 0}
.app_vm{vertical-align:middle}
.app_pr{position:relative}
.app_pa{position:absolute}
.app_abs-right{position:absolute;right:0}
.app_zoom{zoom:1}
.app_hidden{visibility:hidden}
.app_none{display:none}
.app_block{display:block}
.app_oh{overflow:hidden;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
.app_top_bar{padding-left: 10px;margin-left: -10px;padding-right: 10px;margin-right: -10px;}

/*距离*/
.app_pn{padding:0;}
.app_p10{padding:10px;}
.app_p15{padding:15px;}
.app_p20{padding:20px;}
.app_p30{padding: 30px;}
.app_m5{margin: 5px;}
.app_m10{margin: 10px;}
.app_m15{margin: 15px;}
.app_m20{margin: 20px;}
.app_m25{margin: 25px;}

.app_pt1{padding-top:1px;}
.app_pt3{padding-top:3px;}
.app_pt10{padding-top: 10px;}
.app_pt12{padding-top: 12px;}
.app_pt5{padding-top: 5px;}
.app_pt15{padding-top: 15px;}
.app_pt20{padding-top: 20px;}
.app_pt25{padding-top: 25px;}
.app_pt30{padding-top: 30px;}
.app_pt35{padding-top: 35px;}
.app_pt50{padding-top: 50px;}
.app_pt70{padding-top: 70px;}
.app_pt2em{padding-top: 2em;}


.app_pb5{padding-bottom: 5px;}
.app_pb10{padding-bottom: 10px;}
.app_pb15{padding-bottom: 15px;}
.app_pb20{padding-bottom: 20px;}
.app_pb25{padding-bottom: 25px;}
.app_pb30{padding-bottom: 30px;}
.app_pb03em{padding-bottom:.3em;}
.app_pb05em{padding-bottom:.5em;}
.app_pb1em{padding-bottom: 1em;}
.app_pb50{padding-bottom: 50px;}

.app_pl5{padding-left: 5px;}
.app_pl10{padding-left: 10px;}
.app_pl15{padding-left: 15px;}
.app_pl20{padding-left: 20px;}
.app_pl25{padding-left: 25px;}
.app_pl30{padding-left: 30px;}
.app_pl50{padding-left: 50px;}
.app_pl1em{padding-left:1em;}
.app_pl2em{padding-left:2em;}
.app_pl3em{padding-left:3em;}
.app_pl05em{padding-left:.5em;}

.app_pr5{padding-right: 5px;}
.app_pr10{padding-right: 10px;}
.app_pr15{padding-right: 15px;}
.app_pr20{padding-right: 20px;}
.app_pr25{padding-right: 25px;}
.app_pr30{padding-right: 30px;}
.app_pr50{padding-right: 50px;}
.app_pr1em{padding-right:1em;}
.app_pr05em{padding-right:.5em;}
.app_pr03em{padding-right:.3em;}
.app_pr1_5em{padding-right:1.5em;}
.app_pr2em{padding-right:2em;}

.app_mt5{margin-top:5px;}
.app_mt8{margin-top: 8px;}
.app_mt10{margin-top: 10px;}
.app_mt15{margin-top: 15px;}
.app_mt30{margin-top: 30px;}
.app_mt20{margin-top: 20px;}
.app_mt25{margin-top: 25px;}
.app_mt40{margin-top: 40px;}
.app_mt50{margin-top: 50px;}
.app_mt60{margin-top: 60px;}
.app_mt24{margin-top: 24px;}
.app_mt01em{margin-top: .1em;}
.app_mt03em{margin-top: .3em;}
.app_mt05em{margin-top: .5em;}

.app_mb0{margin-bottom:0px;}
.app_mb03em{margin-bottom: .3em}
.app_mb5{margin-bottom:5px;}
.app_mb10{margin-bottom:10px;}
.app_mb20{margin-bottom:20px;}
.app_mb24{margin-bottom:24px;}
.app_mb30{margin-bottom: 30px;}
.app_mb50{margin-bottom: 50px;}
.app_mb60{margin-bottom: 60px;}

.app_ml5 { margin-left:5px;}
.app_ml10{margin-left:10px;}
.app_ml15{margin-left:15px;}
.app_ml20{margin-left:20px;}
.app_ml25{margin-left:25px;}
.app_ml03em{margin-left:.3em}
.app_ml05em{margin-left:.5em}
.app_ml1em{margin-left: 1em}
.app_ml1_5em{margin-left:1.5em;}
.app_ml2em{margin-left: 2em;}
.app_ml3em{margin-left: 3em;}
.app_ml30{margin-left: 30px;}

.app_mr5{margin-right: 5px;}
.app_mr05em{margin-right: .5em}
.app_mr1em{margin-right: 1em}
.app_mr2em{margin-right: 2em}
.app_mr3em{margin-right: 3em}
.app_mr5em{margin-right: 5em}
.app_mr10{margin-right:10px;}
.app_mr15{margin-right:15px;}
.app_mr20{margin-right:20px;}
.app_mr25{margin-right:25px;}
.app_mr30{margin-right:30px;}

.app_t01em{position: relative;top:.1em}
.app_t45{top:45px}
.app_tt_up{text-transform: uppercase}

/*宽度*/
.app_w20p{width: 20%;}
.app_w30p{width: 30%;}
.app_w32p{width: 32%;}
.app_w36p{width: 36%;}
.app_w40p{width: 40%;}
.app_w70p{width: 70%;}
.app_w80p{width: 80%;}
.app_w100{width: 100%;}
.app_w100p{width: 100%;}


/*高度*/
.app_t12 {top: 12px;}




/*边线设置*/
.mui-table-view.app_notborder{border-top:none;color: #40ABE9;}
.mui-table-view.app_notborder:before{height: 0}
.mui-table-view.app_notborder:after{height: 0}
.mui-table-view.app_nobborder:after,
.mui-table-view-cell.app_nobborder:after{height: 0}
.mui-table-view.app_nobborder{border-bottom:none;}
.mui-table-view:before{background-color: #ececec;}
.mui-table-view:after{background-color: #ddd;}
.mui-table-view-cell:after{background-color: #e8e8e8;}
.app_nobborder {border-bottom: none;}

/*主体颜色配置*/

/*==按钮设置==*/
.mui-btn-block{margin-bottom: 0;}
.mui-btn{color: #575757;border-color: #e8e8e8;}
/*.mui-ios .mui-btn{font-weight: 700;}*/
.mui-btn:active{color: #575757!important;border-color: #fff;}
.mui-btn.mui-btn-link{color: #f65205;box-shadow: none;}
.mui-btn-block{padding: 8px 0;}
.mui-btn, button, input[type=button], input[type=reset],
input[type=submit]{border-radius:5px;}
.mui-btn-primary, input[type=submit]{color: #fff;border:none;background:#3bbdb1;}
.mui-btn-outlined{border-color:#f65205;background: none;color: #f65205;}
.mui-btn-outlined:active{border-color:#ff7700;background: none!important;color: #ff7700!important;}
.mui-btn-outlined, .mui-btn-outlined.mui-btn-primary{color: #0d84f2;background-color: #fff;}

input[type="submit"]:active,
input[type="submit"].mui-active,
.mui-btn-primary:active,
.mui-btn-primary.mui-active{color: #fff;background-color: #0d84f2;border:none;}

input[type="button"]:enabled:active, input[type="button"].mui-active:enabled,
input[type="submit"]:enabled:active,
input[type="submit"].mui-active:enabled,
input[type="reset"]:enabled:active,
input[type="reset"].mui-active:enabled,
button:enabled:active,
button.mui-active:enabled,
.mui-btn:enabled:active,
.mui-btn.mui-active:enabled {background-color: #e8e8e8;border-color: #e8e8e8;}

input[type="submit"]:enabled:active, input[type="submit"].mui-active:enabled,
.mui-btn-primary:enabled:active,
.mui-btn-primary.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-blue.mui-active:enabled {
  color: #fff!important;
  background-color: #0a76d9;
  border: none;
}
/*.mui-btn-primary:enabled:active{background-color: #d1d1d1;}*/
.mui-btn-negative:enabled:active,
.mui-btn-negative.mui-active:enabled,
.mui-btn-danger:enabled:active,
.mui-btn-danger.mui-active:enabled,
.mui-btn-red:enabled:active,
.mui-btn-red.mui-active:enabled {color: #fff; background-color: #376dd9;border:none;}
.mui-btn-outlined.mui-btn-primary:active{color: #f65205!important;background-color: #e5e5e5;}

/*==表单覆盖样式==*/
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select, textarea{height: auto;padding:10px 15px;}
.mui-input-group .mui-input-row{height: auto;background-color: #fff;}
.mui-input-row label{padding:10px 15px;padding-left: 20px;padding-right: 10px;line-height:21px;width: 40%;font-weight: bold;}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{width:60%}

.mui-input-row label~select{padding-left: 0;padding-top: 6px;}

.mui-input-row.app_select_view label{padding: 0;}
.mui-input-row.app_select_view label~select{margin: -11px 0;height: 43px;padding-right: 15px;margin-right: -15px;}
/*登录===== app-002*/
.app_login_logo{text-align: center;padding-top: 60px;}
.app_login_logo img{width:50%;max-width: 90px;}
.app_input_group{padding: 0px 25px;background-color: #374761;color:#ccc;}
.app_input_group.mui-input-group:before{display: none;}
.app_input_group.mui-input-group:after{display: none;}
.app_input_group.mui-input-group .mui-input-row:after{left: 0;}
.app_input_group .mui-input-row label{width:20%; padding-left:0px; }
.app_input_group .mui-input-row label~input{width:80%;}
.app_input_group .mui-input-row label~input.app_vcode_input{width:50%;}

.app_input_group.app_input_group_lag .mui-input-row label{width:28%; padding-left:0px; white-space: nowrap;}
.app_input_group.app_input_group_lag .mui-input-row label~input{width:72%;}
.app_input_group.app_input_group_lag .mui-input-row label~input.app_vcode_input{width:42%;}

.app_input_group .mui-input-row .mui-btn{width: 30%;padding:5px 0px;margin-top: 10px;}
.app_input_group .mui-input-row .mui-btn.app_btn_line{border: none; color: #ccc;border-left: 1px solid #d8d8d8;border-radius: 0;}
.app_input_group .mui-input-row .mui-btn.app_btn_line.app_btn_loading{color:#ccc}
.app_vcode_input_group.mui-input-group{margin: 0; padding: 0 20px;}
.app_vcode_input_group .mui-input-row label~input.app_vcode_input{width:52%;}

.app_input_group.mui-input-group.app_vcode_input_group:before{display: block;}
.app_input_group.mui-input-group.app_vcode_input_group:after{display: block;}

.app_input_group_big.app_input_group .mui-input-row label{width: 22%; white-space: nowrap;}
.app_input_group_big.app_input_group .mui-input-row label~input{width: 67%;}
.app_input_group_big.app_input_group .mui-input-row label~input.app_vcode_input{width: 48%;}

.app_input_group.app_vcode_input_group.mui-input-group.app_mt20{margin-top: 20px;}
.app_input_group.app_vcode_input_group.mui-input-group .mui-input-row{margin-top: 0;}

.app_vcode_input_group.mui-input-group.app_mt10{margin-top: 10px;}

.app_input_group_lager.app_input_group .mui-input-row label{width: 32%; white-space: nowrap;}
.app_input_group_lager.app_input_group .mui-input-row label~input{width: 68%;}
.app_input_group_lager.app_input_group .mui-input-row label~input.app_vcode_input{width: 48%;}
/*==头部标题设置==*/
.mui-title{font-size: 20px;line-height:42px;color: #000;}
.mui-bar .mui-icon{font-size: 20px;padding-top: 12px;padding-bottom: 12px;}
/*==消除符号==*/
.mui-input-row .mui-input-clear~.mui-icon-clear{right: .5em;color: #ccc;width: 30px;height: 30px;font-size: 16px;line-height: 2;top:9px}
.mui-table-view-cell.noborder:after{height: 0}
.mui-grid-view.mui-grid-9 .mui-table-view-cell.noborder{border: none;}

/*==MUI公共覆盖样式==*/
.mui-bar .mui-title{line-height:44px;font-size: 18px;font-weight: 400;color: #fff;}
.mui-pull,.mui-pull .mui-pull-caption {font-size: 14px}
.mui-pull{top:12px;}
.mui-badge.mui-badge-inverted{font-size: 15px;}

.mui-title { font-size: 1rem;font-family: "PingFang SC";}

.mui-switch{width: 46px;height: 25px;}
.mui-switch .mui-switch-handle{width: 23px;height: 23px;-webkit-transition: .1s ease-in-out; transition: .1s ease-in-out;}
.mui-switch.mui-dragging .mui-switch-handle{ width: 30px;}
.mui-switch.mui-dragging.mui-active .mui-switch-handle{left: -7px;width: 30px;}
.mui-switch-mini.mui-active .mui-switch-handle{-webkit-transform: translate(20px,0);transform: translate(20px,0);}
.mui-switch.mui-active{border-color: #44DB5E;background-color: #44DB5E;background-clip: inherit;}

.mui-table-view-cell.mui-active,.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active{}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{border-right: 1px solid #dfdfdf;}
.mui-grid-view.mui-grid-9{background:#f6f6f6;}
.mui-table-view.mui-grid-view .mui-table-view-cell{font-size: 14px;;}

.mui-content>.mui-table-view:first-child{margin-top: 0;}
.mui-content>.mui-table-view.app_mt20{margin-top: 20px;}
.mui-content>.mui-table-view.app_mt10{margin-top: 10px;}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{border-color: #ececec;border-bottom: 0;}
.mui-segmented-control .mui-control-item{height: 50px;line-height: 50px;}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{color:#fff;}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{top:8px}
.mui-input-row .app_pl15 { padding-left: 15px;}
/*去处mui-content内，第一项的间距*/


/*==自定义公共样式==*/
.app_header{height: 44px;box-shadow: none;background: #374761;border-bottom: 1px solid #EEEEEE;color: #000;}
.app_header.app_nbborder{border-bottom: none;background-color: #374761;}
.mui-table-view.mui-grid-view.app_bgn{background: none; }
.mui-table-view.mui-grid-view.app_bgn:last-child {padding-top: 10px;}
.app_dialog {position: fixed; top: 0px;left: 0px;width: 100%;height: 100%;z-index: 99999;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center; background: rgba(0, 0, 0, 0.4); display: none;opacity: 0;transition:opacity .3s;}
.app_dialog.app_active{display: -webkit-box;display: box;}
.app_dialog.app_show{opacity: 1;}
.app_dialog_box{position: fixed;left: 0;right: 0; background: #fff; font-size: 15px;}
.app_slider_down{-webkit-transform: translate(0,-100%);-webkit-transition: -webkit-transform .5s;top:0}
.app_dialog.app_show .app_slider_down{-webkit-transform: translate(0,0);}

.app_slider_up{-webkit-transform: translate(0,100%);-webkit-transition: -webkit-transform .5s;bottom: 0;}
.app_dialog.app_show .app_slider_up{-webkit-transform: translate(0,0);}

.app_dialog_box .mui-icon{position: relative;margin-right: -20px;margin-top:-5px;}

.app_con_radio_box .mui-input-row label{width:100%;}

.app_pay .pay-radio { display: inline-block; width: 50%; vertical-align: middle;}
.app_pay .pay-radio label { padding-left:0px; padding-right:10px;}
.app_pay .pay-radio span {vertical-align: middle;}
.app_pay .pay-radio input[type="radio"]{ opacity: 0; vertical-align: middle;}
.app_pay .pay-radio img { width: 63%;vertical-align: middle;}
.app_bank_list{position:fixed;padding:0 20px;background: #fff;text-align: center;font-size: 15px;}
.app_bank_list th{text-align: center;font-size: 13px;height: 33px;background: #efece8;}
.app_bank_list td{height: 27px;}
.app_bank_list tr:nth-child(odd){background: #faf9f7;}

.app_tips_txt{line-height: 25px;}
.app_tips_txt_h{min-height: 21px;}
.mui-table-view:after,.mui-table-view:before{display: none;}
.mui-input-group .mui-input-row.app_nobborder:after{display: none;}
.mui-input-group .mui-input-row:last-child:after{display: none;}
.mui-input-group .mui-input-row:first-child:before{display: none;}
.mui-input-group:after{display: none;}
.mui-input-group:before{display: none;}
.app_inline{display: inline;}
/*==主要容器背景颜色==*/
html,body{}
body{font-size: 15px;color:#3b3b3b;}
.mui-content{
	background-color:#fff;
}
/*屏幕兼容*/
@media only screen and (min-width:0px) and (max-width: 370px) {
 #app-frozen-detail-list .mui-table-view { margin: 10px 10px 0 10px; border-radius: 4px;}
 .app_txt_min .mui-h5,.app_txt_min .mui-h4 {font-size: 12px;}
 .app_box_banner_icon {top:35px}
 .app_buttons{width: 60%;}
 .app_lock_tips{height:30px;margin-top: 15px;}
.app_input_group_lager.app_input_group .mui-input-row label{width: 36%; white-space: nowrap;}
.app_input_group_lager.app_input_group .mui-input-row label~input{width: 64%;}
.app_input_group_lager.app_input_group .mui-input-row label~input.app_vcode_input{width: 48%;}
.app_dialog_box{font-size: 12px;}
.app_in_product_box .app_cmain .app_f40{font-size: 32px;}
.app_act_box .app_act_logined .app_f40{font-size: 32px;}
.app_product_ihview .app_cmain .app_f18{font-size: 15px;}
}

/*沉浸式*/
.app_header0{padding-top: 0px;height: 44px;}
.app_mui_content0{padding-top: 44px !important;}
.app_mui_pull_top_pocket0{top: 20px;}



/*覆盖样式*/
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{color: #a6a6a6;}

.mui-scroll-wrapper.app_b50{bottom:50px}

.app_loading_box{position: fixed;width: 100%;height: 100%;background:rgba(0,0,0,.2);z-index: 99999; display: none;opacity: 0;transition:opacity .3s;top:0;left: 0;}
.app_loading_box .mui-loading{position: absolute;width: 100%;top:50%;margin-top: -24px;}
.app_loading_box.app_active{display: -webkit-box;display: box;}
.app_loading_box.app_show{opacity: 1;}

.app_dialog_warp{position: fixed;width: 100%;height: 100%;background:rgba(0,0,0,.2);z-index: 99999; display: none;opacity: 0;transition:opacity .3s;top:0;left: 0;}
.app_dialog_warp.app_active{display: -webkit-box;display: box;}
.app_dialog_warp.app_show{opacity: 1;}

.app_dialog_box{height: 80%;width:90%;left: 5%;top:10%;border-radius: 5px;}
.app_dialog_title{height:40px;line-height:40px;border-bottom: 1px solid #ACACB4;position:relative}
.app_close_box{position: absolute;right: 0;top:0;padding:8px 5px;}

.app_dialog_box .mui-icon.app_close{margin:0;}
.app_dialog_ticket_list{position: relative;}
.app_dialog_list_box{position: absolute;width: 100%;overflow: auto;top:45px;bottom: 10px;}
.app_dialog_ticket_list .app_coupon_num_box{height: 120px;}
.app_dialog_list_box .app_lines{border-bottom: 1px solid #C7C7CC;height: 0px;width: 100%;text-align: center;margin: 20px auto;font-size: 14px;color: #C7C7CC;}
.app_dialog_list_box .app_lines span{background: #fff;padding: 0 15px;position: relative;top:-7px}

/*自定义覆盖样式!*/
.app_header{height: 44px;line-height: 44px;border-bottom: 1px solid #ccc;background-color: #40ABE9;}
.app_content {padding-bottom: 40px;background-color: #fff;}
.app_bgcolor {background-color: #374761;box-shadow: none;}
.app_content_bgc_login {background-color: #374761;}
.app_content_bgc_phs {background-color: #374761;}
.app_font_cl {color: #3d79f2;}
.app_nav_text_center {text-align: center;line-height: 44px;}
.app_li_text_linhg {line-height: 30px;}
.app_text_center {text-align: center;}
.app_text_indt10 {text-indent: 10px;}
.app_text_indt15 {text-indent: 15px;}
.app_text_alg_r {text-align: right;}
.labelLf {padding: 10px 14px;padding-left: 20px;line-height: 21px;width: 35%;font-weight: bold;}
.labelri {width: 60%;float: right;padding: 14px 15px;height: auto;line-height: 21px;font-size: 16px;}
.labelPto {width:30%}
.labelri input {margin-right: 15px;}
.photoList {margin-left: 33%;}
.step_num {text-align: center;color: #007aff;}
.step_item {border: 1px #3daae9 solid;margin: 15px 15px;}
.oneBtn {left: 50%;margin-left: -41px;}
.list-padding {padding: 10px 10px 0 10px;}
.mui-input-row label~input.doubleInput {width: 30%;}/*一行有两个input*/


/*红色 * 号，必填必选*/
.mui-input-row font {color: red;position: absolute;right: 60px;top: 38%;font-size: 20px;}


/*模糊查询列表显示---查询页面和经销店添加公共样式*/
.pre {margin-bottom: 0;padding-left: 0;float: right;width: 60%;}
.newinput {width: 150px;padding: 2px 0px 2px 0px;margin-bottom: -1px;background: url(./thumb.jpg) no-repeat scroll right center;border: 1px solid #ccc;box-shadow: 0 1px 0 0 #eee inset;cursor: default;}
.input_div {width: 150px;border: 1px solid #ddd;border-bottom: none;border-radius: 0 0 3px 3px;display: none;}
.hideSpan {position: absolute;right: 52px;top: 11px;border: 1px solid rgb(204, 204, 204);border-radius: 13px;display: none;}
.secStyle {margin: 5px 0;} 
.newinput:focus {cursor: text;}
.soption {display: block;padding: 2px 5px;}
.soption:hover {background: #f9f9f9;border-top: 1px dotted #ddd;border-bottom: 1px dotted #ddd;padding: 1px 5px;}
.mui-input-row input.newinput {padding-left: 0;}

#inCheckAddMenu,#addCheckMen,#addDetailMen{padding-left:0;}


/*查询、保存大按钮*/
.SearchBtnClass {margin: 60px auto;width: 70%;}
.app_btn_search {padding: 5px 0;margin: 0;border-radius: 19px;background-color: #40ABE9;border: none;}
.app_btn_search:active {color: #fff;border: 1px solid #046d90;background-color: #007aff !important;}


/*查询小按钮--备货单添加、修改  和  经销店添加*/
.comChoiceBtn {padding: 5px;border: none;width: 50px;position: absolute;right: 10px;top: 2px;background-color: #40ABE9;}
.inputClassAdd>label.commodityName {padding: 0;width: 15%;}
.inputClassAdd>input.commodityTxt {padding: 0;font-size: 10px;position: relative;width: 85%;}
			

/*添加、移除、删除小按钮*/

			
/*运营管理后台*/
.appQuitBtn {background-color: #dd5563;border: none;border-radius: 8px;}
.quitBtn {position: absolute;width: 80%;bottom: 50px;left: 50%;margin-left: -40%;}
.app_border_rb {border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.mui-table-view.mui-grid-view .mui-table-view-cell {margin-right: 0;}
.clear {clear: both;}
.app_bnp {padding: 0 !important;}


/*运营管理*/
.mui-table-view-cell p {border-bottom: 1px solid #e8e8e8;padding: 8px 0 8px;}


/*审核公共样式*/
.app_p20 button {margin-left: 17%;background-color: #40ABE9;color: #fff;}

/*备货单审核 和 订单详情公用---产品信息*/
.commodity div.mui-input-row input, .commodity div.mui-input-row label {padding: 0;font-size: 12px;}

/*备货单审核*/
.photoParent {width: 15%;height: 220px;margin-right: 15px;}
.photoParent img {top: 50%;margin-top: -8px;width: 50px;}
.listBlue>li {border-bottom: 1px solid #40ABE9;}


/*订单详情---产品信息*/
.commodity label {width: 40%;}
.commodity input {width: 60%;color: #40ABE9;}/*--被覆盖了*/
/*订单详情---产品信息---一列样式:*/
.commodity div.lineStyle label {width:20%}
.commodity div.lineStyle input {width:80%}


/*进展信息*/
.nextTxt01 {top: 17px;left: 88px;}
.nextTxt02 {top: 6px;left: 87px;}
.labelParent{display: flex;justify-content: center;}
.labelRi>li {float: left;}
.labelRi div {width: 70px;margin: 5px 15px;border: 1px solid #40ABE9;border-radius: 5px;font-size: 13px;text-align: center;}


/*字体颜色不兼容的解决:*/
input[disabled],input:disabled,input.disabled{
	color: #000;
	/*-webkit-text-fill-color:#3b3b3b;*/
	-webkit-opacity:1;
	opacity: 1;
}
